<ul class="breadcrumb visible-lg visible-md"
    ng-show="!<%= scope %>.modal.isOpen()" dragonlanguage="" style="z-index: 1000">
    <li ng-repeat="(key, menu) in <%= scope %>.MENU.parents track by key">
        <a data-function="menu" href="javascript:void(0)">
            <i class="{{menu.icon}} position-left"></i>
            {{menu.text.trim('')}}
        </a>
        <ul class="dropdown-menu dropdown-menu-left" ng-show="menu.childs.length>0">
            <li ng-repeat="(subkey, submenu) in menu.childs track by subkey"
                ng-class="[<%= scope %>.MENU.menu.text!=submenu.text?'':'active']">
                <a title="{{submenu.text}}" href="{{<%= scope %>.sameHref(submenu,'javascript:void(0)')||submenu.href}}"
                   class="">
                    <i class="{{submenu.icon}}"></i>{{submenu.text}}
                </a>
            </li>
        </ul>
    </li>
    <li class="active">
        <a data-function="menu" href="javascript:void(0)">
            <i class="{{<%= scope %>.MENU.menu.icon}} position-left"></i>
            {{<%= scope %>.headertitle || <%= scope %>.MENU.menu.text}}
        </a>

    </li>
</ul>
<ul class="breadcrumb visible-lg visible-md"
    ng-show="<%= scope %>.modal.isOpen()" dragonlanguage="" style="z-index: 1000">
    <li class="active">
        <a data-function="menu" href="javascript:void(0)">
            <i class="{{<%= scope %>.MENU.menu.icon}} position-left"></i>
            {{<%= scope %>.headertitle || <%= scope %>.MENU.menu.text}}
        </a>

    </li>
</ul>
