<div class="tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <div class='col-sm-2 col-md-4'>
                <%- FORM.select('tipo_estatus', scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre",
                    table: 'tipo_estatus',
                    label: "Tipo del Estatus",
                    icon: {class: "archive"}
                }) %>
            </div>
            <div class="col-sm-2 col-md-4">
                <%- FORM.checkbox("es_autorizado", scope, {text: '¿Este estatus es autorizado?'}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-4">
                <%- FORM.select('modulo_entidad', scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre",
                    table: 'modulo_entidad',
                    label: "Módulo",
                    icon: {class: "archive"}
                }) %>
            </div>
            <div class='col-sm-2 col-md-4'>
                <%- FORM.select('icon', scope, {
                    allownew: false,
                    allowedit: false,
                    allowview: false,
                    allowlist: false,
                    text: "item.nombre",
                    table: 'iconos',
                    label: "Ícono",
                    icon: {class: "archive"}
                }) %>
            </div>
            <div class='col-sm-12 col-md-6'>
                <%- FORM.input('nombre', scope, {placeholder: "Nombre"}) %>
            </div>

            <div class='col-sm-12 col-md-6'>
                <%- FORM.input('action', scope, {trueplaceholder: "Nombre de la acción"}) %>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 col-md-4'>
                <label class="control-label is-visible animate" style="color:#000000 !important;">
                    Estatus posterior
                </label>
                <select ng-model="modulo_estatus.estatus_posterior" class="js-select2-multiple"
                        name="states[]" id="estatus_posterior" multiple="multiple">
                    <option ng-repeat="(key, item) in  modulo_estatus.estatus_list_drp" value="{{item.id}}">
                        {{item.nombre}}
                    </option>
                </select>
            </div>
            <div class='col-sm-12 col-md-4'>
                <label class="control-label is-visible animate" style="color:#000000 !important;">
                    Rol Permitido
                    <i id="popoverrol_permite" class="icon-help">
                    </i>
                </label>
                <select ng-model="modulo_estatus.rol_permite" class="js-select2-multiple" name="states[]"
                        id="rol_permite" multiple="multiple">
                    <option ng-repeat="(key, item) in  modulo_estatus.roles_list" value="{{item.id}}">
                        {{item.name}}
                    </option>
                </select>
            </div>
            <div class='col-sm-12 col-md-4'>
                <label class="control-label is-visible animate" style="color:#000000 !important;">
                    Rol Permitido (full)
                    <i id="popoverrol_permite_full" class="icon-help">
                    </i>
                </label>
                <select ng-model="modulo_estatus.rol_permite_full" class="js-select2-multiple" name="states[]"
                        id="rol_permite_full" multiple="multiple">
                    <option ng-repeat="(key, item) in  modulo_estatus.roles_list" value="{{item.id}}">
                        {{item.name}}
                    </option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class='col-sm-12 col-md-12'>
                <%- FORM.input('descripcion', scope, {placeholder: "Descripción"}) %>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer dragonformfooter" dragonlanguage="" id="btnformfooter">
     <span class="label label-white text-<%= COLOR.secundary %>-300 label-rounded label-icon">
            <i class="position-right"></i>
        </span>

    <button
            dragonlanguage="" title="MESSAGE.ic('mono.cancel')"
            type="button" class="btn bg-<%= COLOR.warning %> btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.pages.form.close()">
        <b><i class="icon-cross2"></i></b>
        <language>MESSAGE.ic('mono.cancel')</language>
    </button>
    <button ng-show="<%= scope %>.form.mode!=='new' || <%= scope %>.from_node"
            dragonlanguage="" title="MESSAGE.ic('mono.save')"
            type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs pull-right"
            ng-click="<%= scope %>.pages.form.save()">
        <b><i class="icon-floppy-disk"></i></b>
        <language>MESSAGE.ic('mono.save')</language>
    </button>
    <div class="btn-group dropup " ng-show="<%= scope %>.form.mode==='new' && !<%= scope %>.from_node">
        <button
                style="margin-right: 1px !important;"
                dragonlanguage="" title="MESSAGE.ic('mono.save')"
                type="button" role="button" class=" btn bg-<%= COLOR.success %>-800 btn-labeled btn-xs"
                ng-click="<%= scope %>.pages.form.save()">
            <b><i class="icon-floppy-disk"></i></b>
            <language>MESSAGE.ic('mono.save')</language>
        </button>
        <button  style="height: 34px;" type="button" class="btn bg-<%= COLOR.success %>-600 dropdown-toggle btn-xs"
                 data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left">
            <li>
                <a ng-click="<%= scope %>.pages.form.save(undefined,undefined,false)" dragonlanguage="">
                    <i class="icon-floppy-disks"></i>
                    <language>MESSAGE.ic('mono.saveAndContinue')</language>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function () {
        setTimeout(function () {
            $(".js-select2-multiple").select2({
                placeholder: 'Seleccione an opción'
            });
            modulo_estatus.refreshAngular();
        }, 100);

        $('#popoverrol_permite_full').popover({
            container: 'body',
            title: "Rol Permitido (full)",
            content: "Aquí se definen los roles que podrán utilizar el estatus que se está definiendo independientemente las reglas definidas.",
            trigger: 'manual'
        });
        const elemento_full = document.getElementById("popoverrol_permite_full");

        // Agrega un event listener al objeto document
        document.addEventListener("click", function (evento) {
            // Verifica si el evento ocurrió fuera del elemento que estamos observando
            if (elemento_full !== evento.target && !elemento_full.contains(evento.target)) {
                // Se hizo clic fuera del elemento
                $('#popoverrol_permite_full').popover('hide')

            }
        });
        $('#popoverrol_permite_full').on('click', function (evento) {
            evento.stopPropagation();
            $(this).popover('show');
        });

        $('#popoverrol_permite').popover({
            container: 'body',
            title: "Rol Permitido",
            content: "Aquí se definen los roles que podrán utilizar el estatus que se está definiendo.",
            trigger: 'manual'
        });
        const elemento = document.getElementById("popoverrol_permite");

        // Agrega un event listener al objeto document
        document.addEventListener("click", function (evento) {
            // Verifica si el evento ocurrió fuera del elemento que estamos observando
            if (elemento !== evento.target && !elemento.contains(evento.target)) {
                // Se hizo clic fuera del elemento
                $('#popoverrol_permite').popover('hide')

            }
        });
        $('#popoverrol_permite').on('click', function (evento) {
            evento.stopPropagation();
            $(this).popover('show');
        });
    })
</script>





