<div id="information" ng-controller="information as information" style="text-align: center">
    <script>
        MENUMODAL = true;
    </script>
    <div class="col-md-12" style="margin-top: -49px;">
        <div class="panel">
            <div class="panel-body text-center" style="margin-top: 45px;">
                <div class="icon-object" style="border: none">
                    <img style="width: 820px;/* height: 312px; */float: left !important;"
                         src="files/configuration/logo/{{ information.user.tipo_institucion==2?'cover_privado':'cover'}}.png?asd" alt="">
                </div>
                <h5 class="text-semibold" style="margin-top: -150px;">
                    {{information.messageAbout}}
                </h5>
                <p class="mb-15" style="margin-bottom: 500px !important;" dragonlanguage="">
                    © <%= new Date().getFullYear() %>.
                    <%= CONFIG.appName %>
                    <language>MESSAGE.i('mono.by')</language>
                    <a class="text-muted" href="<%= CONFIG.developerBy.profile %>"
                       target="_blank"><%= CONFIG.developerBy.name %></a> -
                    <language>MESSAGE.ic('mono.version')</language>
                    :<b style="color: darkblue"> <%= CONFIG.version.app %></b>
                </p>
            </div>
        </div>
    </div>
</div><!--end-->
<script>
    information.refreshAngular();
</script>
