<script>
    auth;
    var input = document.getElementsByName("auth_username")[0];
    var alert_container_1 = document.getElementById("alert_container_1");
    var password = document.getElementsByName("auth_password")[0];
    var alert_container_2 = document.getElementById("alert_container_2");
    input.addEventListener("keyup", function (event) {
        // if (event.getModifierState("CapsLock")) {
        //     alert_container_1.style.display = "block";
        // } else {
        //     alert_container_1.style.display = "none";
        //     alert_container_2.style.display = "none";
        // }
    });
    password.addEventListener("keyup", function (event) {
        // if (event.getModifierState("CapsLock")) {
        //     alert_container_2.style.display = "block";
        // } else {
        //     alert_container_1.style.display = "none";
        //     alert_container_2.style.display = "none";
        // }
    });

</script>
<%
OBJECT = {
    merge: function (target, ...sources) {
        if (!sources.length) return target;
        const source = sources.shift();
        if (OBJECT.isObject(target) && OBJECT.isObject(source)) {
            for (const key in source) {
                if (OBJECT.isObject(source[key])) {
                    if (!target[key]) Object.assign(target, {[key]: {}});
                    OBJECT.merge(target[key], source[key]);
                } else {
                    Object.assign(target, {[key]: source[key]});
                }
            }
        }
        return OBJECT.merge(target, ...sources);
    },
    isObject: function (item) {
        return (item && typeof item === 'object' && !Array.isArray(item));
    }
};
%>
<%
FORM = {
    template: function (view, data) {
        return include('../../7-plugins/templates/' + view, data);
    },
    checkbox: function (name, model, options, label) {
        console.log(label);
        var loque = {name: name, model: model, opts: options};
        if (label)
            loque.opts.truetext = label;
        return FORM.template('form/checkbox', loque);
    },
    checkboxlist: function (name, model, options) {
        return FORM.template('form/checkboxlist', {name: name, model: model, opts: options});
    },
    date: function (name, model, options) {
        options.singleDatePicker = true;
        options.from = name;
        return FORM.template('form/range', {name: name + "_label", model: model, opts: options});
    },
    datetime: function (name, model, options) {
        options.singleDatePicker = true;
        options.timepicker = true;
        options.from = name;
        return FORM.template('form/range', {name: name + "_label", model: model, opts: options});
    },
    daterange: function (name, model, options) {
        return FORM.template('form/range', {name: name, model: model, opts: options});
    },
    datetimerange: function (name, model, options) {
        options.timepicker = true;
        return FORM.template('form/range', {name: name, model: model, opts: options});
    },
    timerange: function (name, model, options) {
        options.timepicker = true;
        options.isTime = true;
        return FORM.template('form/range', {name: name, model: model, opts: options});
    },
    time: function (name, model, options) {
        options.singleDatePicker = true;
        options.timepicker = true;
        options.isTime = true;
        options.from = name;
        return FORM.template('form/range', {name: name + "_label", model: model, opts: options});
    },
    input: function (name, model, options) {
        return FORM.template('form/input', {name: name, model: model, opts: options});
    },
    format: function (name, model, options) {
        return FORM.template('form/inputformat', {name: name, model: model, opts: options});
    },
    integer: function (name, model, options) {
        return FORM.template('form/integer', {name: name, model: model, opts: options});
    },
    decimal: function (name, model, options) {
        return FORM.template('form/decimal', {name: name, model: model, opts: options});
    },
    hour: function (name, model, options) {
        options.isNumber = false;
        options.icon = {class: "alarm", position: "left"};
        options.mask = "99:59";
        options.restrict = "reject";
        return FORM.template('form/ngmask', {name: name, model: model, opts: options});
    },
    year: function (name, model, options) {
        options.isNumber = false;
        options.icon = {class: "calendar3", position: "left"};
        options.mask = "9999";
        options.restrict = "reject";
        return FORM.template('form/ngmask', {name: name, model: model, opts: options});
    },
    percentage: function (name, model, options) {
        return FORM.template('form/percentage', {name: name, model: model, opts: options});
    },
    phone: function (name, model, options) {
        options.isNumber = false;
        options.icon = {class: "phone", position: "left"};
        options.mask = "(999) 999-9999";
        options.restrict = "reject";
        return FORM.template('form/ngmask', {name: name, model: model, opts: options});
    },
    creditcard: function (name, model, options) {
        options.isNumber = false;
        options.icon = {class: "credit-card2", position: "left"};
        options.mask = "9999-9999-9999-9999";
        options.restrict = "reject";
        return FORM.template('form/ngmask', {name: name, model: model, opts: options});
    },
    identification: function (name, model, options) {
        options.isNumber = false;
        options.icon = {class: "vcard", position: "left"};
        options.mask = "999-9999999-9";
        options.restrict = "reject";
        return FORM.template('form/ngmask', {name: name, model: model, opts: options});
    },
    cellphone: function (name, model, options) {
        options.isNumber = false;
        options.icon = {class: "iphone", position: "left"};
        options.mask = "(999) 999-9999";
        options.restrict = "reject";
        return FORM.template('form/ngmask', {name: name, model: model, opts: options});
    },
    money: function (name, model, options) {
        return FORM.template('form/money', {name: name, model: model, opts: options});
    },
    valor_absoluto: function (name, model, options) {
        return FORM.template('form/valor_absoluto', {name: name, model: model, opts: options});
    },
    indice: function (name, model, options) {
        return FORM.template('form/indice', {name: name, model: model, opts: options});
    },
    mask: function (name, model, options) {
        return FORM.template('form/inputmask', {name: name, model: model, opts: options});
    },
    ngmask: function (name, model, options) {
        return FORM.template('form/ngmask', {name: name, model: model, opts: options});
    },
    normalpassword: function (name, model, options) {
        return FORM.template('form/normalpassword', {name: name, model: model, opts: options});
    },
    password: function (name, model, options) {
        return FORM.template('form/password', {name: name, model: model, opts: options});
    },
    color: function (name, model, options) {
        options.icon = {class: "brush"};
        return FORM.template('form/color', {name: name, model: model, opts: options});
    },
    textarea: function (name, model, options) {
        return FORM.template('form/textarea', {name: name, model: model, opts: options});
    },
    html: function (name, model, options) {
        return FORM.template('form/html', {name: name, model: model, opts: options});
    },
    box: function (name, model, options) {
        return FORM.template('form/box', {name: name, model: model, opts: options});
    },
    custom_box: function (name, model, options) {
        return FORM.template('form/custom_box', {name: name, model: model, opts: options});
    },
    select: function (name, model, options) {
        return FORM.template('form/select', {name: name, model: model, opts: options});
    },
    selectsimple: function (name, model, options) {
        return FORM.template('form/selectsimple', {name: name, model: model, opts: options});
    },
    relation: function (name, model, options) {
        return FORM.template('form/relation', {name: name, model: model, opts: options});
    },
    tags: function (name, model, options) {
        return FORM.template('form/tags', {name: name, model: model, opts: options});
    },
    file: function (name, model, options) {
        return FORM.template('form/file', {name: name, model: model, opts: options});
    },
    inputview: function (name, model, options) {
        return FORM.template('form/inputview', {name: name, model: model, opts: options});
    },
    inputviewvalue: function (name, model, options) {
        return FORM.template('form/inputviewvalue', {name: name, model: model, opts: options});
    },
    location: function (name, model, options) {
        return FORM.template('form/location', {name: name, model: model, opts: options});
    },
    button: function (name, model, options) {
        return FORM.template('form/button', {name: name, model: model, opts: options});
    },
    footer: function (model) {
        return FORM.template('form/footer', {model: model});
    },
    tabs: function (model, tabs) {
        return FORM.template('form/tabs', {model: model, tabs: tabs});
    }
};
%>
<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <script>
        <%= scope %>.isprivate = location.href.indexOf('privada') !== -1 ? '_private' : '';
    </script>
    <div class="row" style="overflow: hidden">
        <div class="col-lg-9 hidden-xs hidden-sm text-center" style="padding: 50px;">
            <img alt="splash" width="944" height="531" id="coverlogin"
                 style="border:0px !important;margin: 10% 0 0 10%;"
                 src="files/configuration/splash/splash{{<%= scope %>.isprivate}}.webp">
        </div>
        <div class="col-lg-3 col-xs-12" style="background: url('files/configuration/splash/repeat.png');">
            <div class="panel panel-body" id="logincontent"
                 style="    border-left: 6px double #004d80;background: url('files/configuration/splash/repeat.png');">
                <div class="form-group has-feedback has-feedback-left text-center">
                    <div class="icon-object text-slate-300" style="padding: 10px; border-style: none;">
                        <img alt="logo" width="150" height="200" style="float: left !important"
                             src="files/configuration/logo/logo.webp"
                             alt="">
                    </div>
                    <h5 class="content-group" dragonlanguage>
                        Iniciar Sesión
                        <small class="display-block" style="<%= CONFIG.microsoft_graph_testing ? "display:none;" : "display:block;" %>">
                            <language>MESSAGE.i('login.Enteryourcredentialsbelow')</language>
                        </small>
                        <small class="text-center" style="<%= CONFIG.microsoft_graph_testing ? "display:none;" : "display:block;" %>">
                            <a ng-click="<%= scope %>.create()">
                                No tienes una cuenta?. Crea una.
                            </a>
                        </small>
                    </h5>
                </div>
                <label style="<%= CONFIG.microsoft_graph_testing ? "display:none;" : "display:block;" %> width: 100%;">
                    <%- FORM.input("username", scope, {text: "Remember", icon: {class: "user"}}) %>
                </label>
                <span id="alert_container_1" class="help-block"><p class="text-error" style="color: #ff751a ;"><i
                                class="icon-spam"></i> Advertencia! están activadas las mayúsculas</p></span>
                <label style="<%= CONFIG.microsoft_graph_testing ? "display:none;" : "display:block;" %>    width: 100%;">
                    <%- FORM.normalpassword("password", scope, {
                        text: "Remember",
                        type: "password",
                        icon: {class: "unlocked2"}
                    }) %>
                </label>
                <span id="alert_container_2" class="help-block"><p class="text-error" style="color: #ff751a ;"><i
                                class="icon-spam"></i> Advertencia! están activadas las mayúsculas</p></span>
                <button
                        type="button" role="button" ng-click="auth.login_click()"
                        class="btn bg-primary btn-block legitRipple" style="<%= CONFIG.microsoft_graph_testing ? "display:none;" : "display:block;" %> font-size: 18px;font-weight: 700;">
                    Iniciar sesión
                    <i ng-if="auth.form.options.login.icon.class!=='none'"
                       class="icon-circle-right2 position-left ng-scope">
                    </i>
                </button>
                <a type="button" role="button" href="outlook"
                   class="btn bg-primary btn-block legitRipple"
                   style="<%= CONFIG.microsoft_graph_testing ? "display:block;" : "display:none;" %>font-size: 18px;font-weight: 700;">
                    Iniciar sesión
                    <i ng-if="auth.form.options.login.icon.class!=='none'"
                       class="icon-circle-right2 position-left ng-scope">
                    </i>
                </a>
                <div class="text-center" dragonlanguage style="<%= CONFIG.microsoft_graph_testing ? "display:none;" : "display:block;" %>">
                    <a ng-click="<%= scope %>.forgotPassword()">
                        <language>MESSAGE.ic('login.forgotpassword')</language>
                        ?
                    </a>
                </div>

                <% for(var i = 1;i < 10;i++){ %>
                    <br>
                <% } %>

                <div style="text-align: center;color: white">
                    <!--<div style="float: left;margin-right: 5px;">-->

                    <!--</div>-->

                    <label style="opacity: 0.7;"><img alt="logoeis" width="30" height="30"
                                                      src="../../../assets/images/logoeis.webp">
                        Diseñado y
                        desarrollado por <a rel="noopener" rel="noreferrer" href="https://eisdr.com/" target="_blank">Excellent
                            Integrity Solutions</a>
                    </label>
                </div>

            </div>
            <!-- /simple login form -->
        </div>
    </div>
</div><!--end-->
<style>
    .footer {
        display: none;
    }

    .upButtom {
        display: none !important;
    }

    .panel {
        margin-bottom: 0px !important;
    }

    #alert_container_1 {
        display: none;
    }

    #alert_container_2 {
        display: none;
    }
</style>
<script>
    loginresize();
    window.onresize = function (event) {
        loginresize();
    };

    function loginresize() {
        var heightLogin = document.getElementById('coverlogin').clientHeight;
        if (heightLogin != 0)
            document.getElementById("logincontent").style.height = `${heightLogin}px`;
        else
            document.getElementById("logincontent").style.height = `114vh`;
    }
</script>
<style>
    .page-container {
        border: none !important;
    }
</style>
