<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <%- include('header',{scope:scope}); %>
        <div class="subcontent">
            <%- include('base',{scope:scope}); %>
        </div>
    </div>
    <div id ="diomede"><i class="diomedes"></i></div>
</div><!--end-->